<%- layout('layouts/boilerplate') %>

<div id="filters">
  <a href="/listings/category/trending" class="filter"><div><i class="fa-solid fa-fire"></i></div><p>Trending</p></a>
  <a href="/listings/category/rooms" class="filter"><div><i class="fa-solid fa-bed"></i></div><p>Rooms</p></a>
  <a href="/listings/category/iconic-cities" class="filter"><div><i class="fa-solid fa-mountain-city"></i></div><p>Iconic Cities</p></a>
  <a href="/listings/category/mountains" class="filter"><div><i class="fa-solid fa-mountain-sun"></i></div><p>Mountains</p></a>
  <a href="/listings/category/castles" class="filter"><div><i class="fa-solid fa-place-of-worship"></i></div><p>Castles</p></a>
  <a href="/listings/category/camping" class="filter"><div><i class="fa-solid fa-campground"></i></div><p>Camping</p></a>
  <a href="/listings/category/farms" class="filter"><div><i class="fa-solid fa-tractor"></i></div><p>Farms</p></a>
  <a href="/listings/category/arctic" class="filter"><div><i class="fa-solid fa-snowman"></i></div><p>Arctic</p></a>
  <a href="/listings/category/beaches" class="filter"><div><i class="fa-solid fa-umbrella-beach"></i></div><p>Beaches</p></a>
  <a href="/listings/category/dome" class="filter"><div><i class="fa-solid fa-igloo"></i></div><p>Dome</p></a>
  <a href="/listings/category/boat" class="filter"><div><i class="fa-solid fa-ship"></i></div><p>Boat</p></a>
</div>

<div class="d-flex justify-content-end mb-4 me-4 mt-2">
  <div class="btn-group">
    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Sort by Price
                </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item <%= currentSort === 'default' ? 'active' : '' %>" href="/listings">Default</a></li>
      <li><a class="dropdown-item <%= currentSort === 'price-asc' ? 'active' : '' %>" href="/listings?sort=price-asc">Price: Low to High</a></li>
      <li><a class="dropdown-item <%= currentSort === 'price-desc' ? 'active' : '' %>" href="/listings?sort=price-desc">Price: High to Low</a></li>
                </ul>
    </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for (let listing of allListings) { %>
    <div class="col listing-card">
      <a href="/listings/<%= listing._id %>" class="listing-link" style="text-decoration:none; color:inherit;">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b>
          </p>
          <p>&#8377;<%= listing.price.toLocaleString("en-IN") %>/Night</p>
        </div>
      </a>
    </div>
  <% } %>
</div>


    </body>